.popup__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@media screen and (max-width: 670px) {
  .popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
}