.element {
  padding: 0;
  margin: 0 auto;
  width: 282px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}