.popup__container {
  padding: 34px 36px 31px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  width: 430px;
  height: 330px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 670px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
    box-sizing: border-box;
    gap: 0;
  }
}